---
---

$light-orange: #fdb73d
$white: #fff
$pitch-black: #000
$light-black: #222

body
	font-family: "Noto Sans"

.container
	width: 100%

.underline
	margin-left: auto
	margin-right: auto	
	height: 0.1em

@import menu
@import slider
@import home
@import footer