.footer
	color: $white
	
	a
		color: $white
	
	ul
		list-style: none
	
	li
		margin-left: -3em

.bullet-arrow
	display: inline-block
	margin-top: auto
	margin-bottom: auto
	height: .55em
	width: .6em
	margin-right: .5em
	background-image: url("data:image/svg+xml;utf8,<svg width='8' height='8' viewPort='0 0 8 8' version='1.1' xmlns='http://www.w3.org/2000/svg'><line x1='0' y1='0' x2='8' y2='4' stroke='#fff' stroke-width='2'/><line x1='8' y1='4' x2='0' y2='8' stroke='#fff' stroke-width='2'/></svg>")
	

.footer-top
	background-color: $light-black 
	
	.container
		width: 75%
		margin-left: auto
		margin-right: auto

.footer-bottom
	background-color: $pitch-black
	
	span
		margin-right: 3em